
.App-header{
    text-align: center;
    margin-bottom: 10vh;
}

.jobApplicationRow{
    margin-left: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5vh;

        
}

.addButton{
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: #0d6efd;
    bottom: 5vh;
    right: 5vh;
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
dialog{
    border-radius: 10px;
    position:absolute;
    top: 25vh;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    width: 25vw;
    align-items: center;
}
.textField{
    border-radius: 5px;
    border: 1px solid #0d6efd;
    padding: 5px;
    width: 20vw;
}
.submitButton{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    border: none;
    width: 15vw;
    padding: 10px;
}
.noApplication{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.statusSelect{
    border: none;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}